body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.wrapper {
  height: auto;
  margin: 0;
  color: white;
  font-weight: bold;
  font-family: Arial;
  font-size: 24px;
}
header {
  display: flex;
  background-color: black;
  height: auto;
  font-size: 12px;
  align-items: center;
}
.header-left {
  flex: 2;
  min-width: 150px;
}
.header-left img {
  max-width: 80%;
  padding: 5px;
}
nav {
  flex: 6;
}
.header-right {
  flex: 2;
  display: flex;
  align-items: center;
}
.header-right img {
  height: 30px;
}
.header-right div {
  padding: 5px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: orangered;
}
ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}
li {
  text-transform:uppercase;
  padding: 10px;
  font-size: 20px;
}
main {
  display: flex;
  flex-direction: column;
}
.title-crtns {
  display: flex;
  background-color: #1f2123;
  height: auto;
  padding: 5px 25px 5px 50px;
  align-items: center;
}
.title-crtns img {
  height: 25px;
}
.title-crtns-left {
  flex-grow: 9;
  color: white;
  font-weight: bold;
}
.title-crtns-right {
  display: flex;
  flex-grow: 1;
  align-items: center;
  color: lightgrey;
}
.title-crtns-right div {
  padding: 5px;
}
.crtns {
  display: flex;
  flex-direction: row;
  height: auto;
  background-color: #131415;
  color: white;
  text-align: center;
  line-height: 25px;
  padding: 15px 15px 15px 45px;
  gap: 30px;
  box-sizing: border-box;
}
.crtns div {
  flex: 1;
  padding: 15px 3px 15px 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.crtns img {
  max-width: 100%
}
.crtns img:hover {
  border: orangered 5px solid;
  box-sizing: border-box;
}
.crtnsr img:hover {
  border: orangered 5px solid;
  box-sizing: border-box;
}
.title-crtnsr {
  display: flex;
  background-color: #2d2e30;
  height: auto;
  padding: 5px 25px 5px 50px;
  align-items: center;
}
.crtnsr {
  display: flex;
  flex-direction: row;
  height: auto;
  background-color: #243442;
  color: white;
  text-align: center;
  line-height: 25px;
  padding: 15px 15px 15px 15px;
  gap: 30px;
  box-sizing: border-box;
}
.crtnsr div {
  flex: 1;
  background-color: #223341;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.crtnsr img {
  max-width: 100%;
}
footer {
  display: flex;
  background-color: #1f2123;
  height: auto;
  padding: 5px 25px 5px 50px;
  align-items: center;
}
.footer img {
  height: 25px;
}
.footer-left {
  flex-grow: 3;
  color: white;
  font-weight: bold;
}
.footer-mid {
  display: flex;
  flex-grow: 1;
  align-items: center;
  color: lightgrey;
}
.footer-mid div {
  padding: 5px;
}
.footer-right {
  font-size: 35px;
  flex-grow: 1;
}
.crtns, .crtnsr div {
  font-size: 20px;
}