header {
  display: block;
  height: auto;
}
div {
  display: block;
}
a {
  text-decoration: none;
}
ul {
  display: inline;
  list-style: none;
  text-transform: capitalize;
  text-decoration: none;
}