h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 3px black;
    color: blue;
}
h2 {
    font-size: 30px;
}
p {
    text-indent: 5%;
    text-align: justify;
    font-size: 25px;
    font-style: italic;
    padding-left: 3%;
    padding-right: 3%;
}
a:link {
    text-decoration: none;
    font-weight: bold;
    font-style: normal;
    font-family: "Comic Sans MS";
    color: dodgerblue;
    padding: 6px;
}
a:hover {
     color: white;
    background-color: dodgerblue;
}